body {
  background-color: $main-bg-color;
  color: $title-color;
  font-family: Roboto, sans-serif;
  padding: 0;
  margin: 0;
  // width: 100%;
  // max-width: 100%;
  overflow-x: hidden;
}

html {
  scroll-behavior: smooth;
}

a {
  text-decoration: none;
}

ul {
  padding: 0;
  margin: 0;
  list-style: none;
}

h1 h2 {
  padding: 0;
  margin: 0;
}

img {
  width: 100%;
  display: block;
  height: auto;
  margin: 0;
  padding: 0;
}

p {
  padding: 0;
  margin: 0;
}
