.filmCardShot {
    &-thumb{
      width: 274px;
      padding: 15px;
    }
    &-poster{
    width: 100%;
    border-radius: 5px;
    }
    &-title, &-stats {
    font-family: Roboto;
    font-size: 12px;
    font-style: normal;
    font-weight: 500;
    line-height: 16px;
    letter-spacing: 0em;
    text-align: left;
    color: #000000;
    margin: 0;
}
    &-title{
    margin-top: 10px;
    text-transform: uppercase;
}
    &-stats {
    color: #FF6B08;
}
  
}
@media screen and (min-width: 768px) and (max-width: 1023px) {
    .filmCardShot-thumb {
        width: 293px;
    }
}
@media screen and (max-width: 768px) {
        .filmCardShot-thumb {
        width: 50%;
        padding: 20px 20px 5px 5px;
    }
    }

@media screen and (max-width: 320px) {
        .filmCardShot-thumb {
        width: 100%;
        padding: 20px 20px 5px 5px;
    }
    }
