.film-cards {
  padding-top: 20px;
  padding-bottom: 40px;
}

@media screen and (max-width: 767px) {
  .film-cards {
    &__item {
      &:not(:last-child) {
        margin-bottom: 20px;
      }
    }
  }
}

@media screen and (min-width: 768px) {
  .container {
    padding-left: 60px;
    padding-right: 60px;
  }
  .film-cards {
    padding-top: 60px;
    padding-bottom: 50px;
    &__list {
      @include flex(wrap);
      margin: -15px;
    }
  }
}

@media screen and (min-width: 1024px) {
  .film-cards {
    &__list {
      @include flex(wrap);
    }
  }
}
