.filmCardShot-thumb {
    position: relative;

    &:hover .card-film-btn__container {
    display: flex;
}
}

.card-film-btn__container {
    padding: 20px 0;
    display: none;
    position: absolute;
    top: 50%;
    left: 0;
    width: 100%;
    justify-content: space-around;
    background-color: rgba(31, 31, 36, 0.8);
    color: #b4b9b6;
}

.film__button {
    display: inline-block;
    border-radius: 5px;
    min-width: 115px;
    padding: 14px 10px 12px 10px;
    border: $main-bg-color solid 1px;
    color: $main-bg-color;
    background-color: transparent;
    font-family: inherit;
    font-weight: 500;
    font-size: 12px;
    line-height: 1.33;
    text-align: center;
    text-transform: uppercase;
    pointer-events: auto;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

&:hover,
&:focus {
    cursor: pointer;
    background-color: $accent-color;
}
}