.filmCardShot {
  &-thumb {
    width: 100%;
    max-width: 280px;
  }
  &-link {
    display: block;

    transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);

    cursor: pointer;

    &:hover,
    &:focus {
      border: 1px solid #eeeeee;
      box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
        1px 4px 6px rgba(0, 0, 0, 0.16);
    }
  }
  &-poster {
    margin-bottom: 10px;
    width: 280px;
    height: 398px;

    border-radius: 5px;
  }

  &-title {
    @include font;
    text-transform: uppercase;

    color: $title-color;
  }
  &-info {
    @include font;

    color: $accent-color;
  }
  &-rating {
    margin-left: 10px;
    padding: 1px 10px;
    background: $accent-color;
    border-radius: 5px;
    color: $main-bg-color;
  }
}
@media screen and (max-width: 767px) {
  .filmCardShot-thumb {
    &:not(:last-child) {
      margin-bottom: 20px;
    }
  }
}

@media screen and (min-width: 768px) {
  .filmCardShot {
    &-poster {
      width: 294px;
    }
  }
}
@media screen and (min-width: 1024px) {
  .filmCardShot {
    &-poster {
      width: 274px;
    }
  }
}
