.filmCardShot {
  &-thumb {
    width: 100%;
    max-width: 280px;

    background-color: $main-bg-color;
    border-radius: 5px;
  }
  &-link {
    display: block;

    cursor: pointer;
  }
  &-poster {
    margin-bottom: 10px;
    width: 280px;
    height: 398px;
    border-radius: 5px;
  }

  &-title {
    @include font;
    text-transform: uppercase;

    color: $title-color;
    transition: padding-left $animation;
  }
  &-info {
    @include font;

    color: $accent-color;
    transition: padding-left $animation, padding-bottom $animation;
  }
  &-rating {
    margin-left: 10px;
    padding: 1px 10px;
    background: $accent-color;
    border-radius: 5px;
    color: $main-bg-color;
  }
}
@media screen and (max-width: 767px) {
  .filmCardShot-thumb {
    &:not(:last-child) {
      margin-bottom: 20px;
    }
  }
}

@media screen and (min-width: 768px) {
  .filmCardShot {
    &-poster {
      width: 294px;
    }
  }
}
@media screen and (min-width: 1024px) {
  .filmCardShot {
    &-poster {
      width: 274px;
    }

    &-link {
      transition: box-shadow $animation, transform $animation, background-color $animation,
        border-radius $animation, padding-bottom $animation, padding-right $animation,
        padding-top $animation, padding-left $animation width $animation, height $animation; //all $animation; - not work properly

      &:hover,
      &:focus {
        width: 294px;

        padding-left: 10px;
        padding-right: 10px;
        padding-top: 10px;
        padding-bottom: 10px;
        transform: translateX(-10px) translateY(-10px);

        background-color: $main-bg-color;
        border-radius: 5px;
        box-shadow: 0px 1px 3px rgba(117, 117, 117, 1), 0px 4px 4px rgba(0, 0, 0, 0.06),
          1px 4px 6px rgba(0, 0, 0, 0.16);
      }
    }
  }
}
