.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  opacity: 1;
  visibility: visible;
  //   transition: opacity var(--transition-duration) var(--cubic), visibility var(--transition-duration) var(--cubic);
}

.backdrop.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

.footer-modal,
.movie-modal {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%) scale(1);
  //   transition: transform var(--transition-duration) var(--cubic);

  background-color: $main-bg-color;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
}

.footer-modal {
  width: 300px;
  height: 520px;
  padding: 20px;
}

.backdrop.is-hidden .modal {
  transform: translate(-50%, -50%) scale(1.1);
}

.modal-text {
  text-align: center;
  font-weight: 500;
  font-size: 20px;
  line-height: 1.15;
  margin-bottom: 15px;
}

.team-list {
  display: flex;
  flex-direction: column;
  padding: 0;
  margin: 0;
}

.team-list-item {
  display: flex;
  margin-top: auto;
  margin-bottom: auto;
  margin-bottom: 6px;
}

.team-member-img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  margin-right: 20px;
}

.footer-flex-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  margin-right: auto;
}

.team-member-name {
  display: inline-block;
  margin-right: 15px;
  color: $accent-color;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.33;
}

.team-member-social-link,
.modal-close-button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 25px;
  height: 25px;
  border-radius: 50%;
}

.team-member-social-link {
  margin-right: 10px;
  transform: translate(0, 9%);
}

.modal-close-button {
  position: absolute;
  top: 10px;
  right: 10px;
  background-color: transparent;
  border: none;
  cursor: pointer;
}

.modal-close-icon {
  width: 14px;
  height: 14px;
}

.modal-close-button:hover .modal-close-icon,
.modal-close-button:focus .modal-close-icon {
  fill: $accent-color;
}

.team-member-social-link:hover,
.team-member-social-link:focus {
  background-color: $accent-color;
}

.team-member-social-link:hover .team-member-social-icon,
.team-member-social-link:focus .team-member-social-icon {
  fill: $main-bg-color;
}

.team-member-social-icon {
  fill: $svgColor;
  width: 15px;
  height: 15px;
}

.team-member-duties {
  font-weight: 500;
  font-size: 12px;
  line-height: 1.33;
  color: $seconady-text-color;
}

@media screen and (min-width: 1024px) {
  .footer-modal {
    width: 500px;
    height: 620px;
    padding-left: 50px;
  }

  .modal-text {
    font-size: 24px;
    margin-bottom: 20px;
  }

  .team-member-img {
    width: 55px;
    height: 55px;
  }

  .team-list-item {
    margin-bottom: 10px;
  }
}
