.film-cards {
  padding-top: 20px;
  padding-bottom: 40px;

  &__item {
    width: 100%;
    max-width: 280px;
  }
  &__link {
    display: block;

    transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);

    cursor: pointer;

    &:hover,
    &:focus {
      border: 1px solid #eeeeee;
      box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
        1px 4px 6px rgba(0, 0, 0, 0.16);
    }
  }

  &__img {
    margin-bottom: 10px;
    width: 280px;
    height: 398px;

    border-radius: 5px;
  }

  &__title {
    //margin-bottom: 3px;

    @include font;
    text-transform: uppercase;

    color: $title-color;
  }

  &__info {
    @include font;

    color: $accent-color;
  }
}

@media screen and (max-width: 767px) {
  .film-cards {
    &__item {
      &:not(:last-child) {
        margin-bottom: 20px;
      }
    }
  }
}

@media screen and (min-width: 768px) {
  .container {
    padding-left: 60px;
    padding-right: 60px;
  }
  .film-cards {
    padding-top: 60px;
    padding-bottom: 50px;
    &__list {
      @include flex(wrap);
      width: calc(100%-60px / 2);
      margin: -15px;
    }
    &__item {
      max-width: 294px;
      margin: 15px;
    }

    &__img {
      width: 294px;
    }
  }
}

@media screen and (min-width: 1024px) {
  .film-cards {
    &__list {
      @include flex(wrap);
      width: calc(100%-90px / 3);
    }
    &__item {
      max-width: 274px;
    }
    &__img {
      width: 274px;
    }
  }
}
