// div.toast-container {
//     width: 280px;
//     text-align: left;

//     @media screen and (min-width: 768px) {
//         width: 400px;
//         text-align: center;
//     }
// }

.toast.toast-info {
    background-color: rgb(0, 0, 0);
    text-align: center;
}

.toast-info .toast-message {
   color: $accent-color;
   font-family: inherit;
   font-weight: 500;
   font-size: 16px;
   
}

.toast.toast-error {
    top: 160px;
    background-color: rgb(0, 0, 0);
    text-align: center;
}

.toast-error .toast-message {
    color: #FF001B;
    font-family: inherit;
    font-weight: 500;
    font-size: 16px;
}

.toast.toast-success {
    top: 160px;
    background-color: rgb(0, 0, 0);
    text-align: center;
}

.toast-success .toast-message {
    color: $accent-color;
    font-family: inherit;
    font-weight: 500;
    font-size: 16px;
}

.toast.toast-warning {
    background-color: rgb(0, 0, 0);
    text-align: center;
}

.toast-warning .toast-message {
    color: #FF001B;
    font-family: inherit;
    font-weight: 500;
    font-size: 16px;
}