// #000000;title
// #FF6B08;акцент
//#E5E5E5;- осн фон
//#545454;footer title color
//#F7F7F7; footer bg color
//box-shadow: 0px 4px 4px 0px #00000040;footer bg shadow
//
$title-color: #000000;
$acsent-color: #ff6b08;
$main-bg-color: #e5e5e5;
$footer-title-color: #545454;
$footer-bg-color: #f7f7f7;
$footer-bg-shadow: 0px 4px 4px 0px #00000040;
