/*
 * Главный файл стилей.
 * Все паршалы подключаются сюда.
 */

// Стили для файла с примером HTML-фрагмента

@import './base/container';
@import './base/variables';
@import './base/common';
@import './base/header';
@import './utils/mixin';
@import './base/footer';
@import './base/footer-modal';
@import './base/library-header';
@import './utils/visually-hidden';
@import './base/film-card-shot';

@import './base/film-list';
@import './base/toggle_button';
