@charset "UTF-8";
/*
 * Главный файл стилей.
 * Все паршалы подключаются сюда.
 */
.container {
  padding-top: 0;
  padding-bottom: 0;
  margin-right: auto;
  margin-left: auto;
}

@media screen and (min-width: 320px) {
  .container {
    width: 320px;
    padding-left: 15px;
    padding-right: 15px;
  }
}

@media screen and (min-width: 768px) {
  .container {
    width: 768px;
    padding-left: 75px;
    padding-right: 75px;
  }
}

@media screen and (min-width: 1024px) {
  .container {
    width: 1024px;
  }
}

body {
  background-color: #ffff;
  color: #000000;
  font-family: Roboto, sans-serif;
  padding: 0;
  margin: 0;
  overflow-x: hidden;
}

html {
  scroll-behavior: smooth;
}

a {
  text-decoration: none;
}

ul {
  padding: 0;
  margin: 0;
  list-style: none;
}

h1 h2 {
  padding: 0;
  margin: 0;
}

img {
  width: 100%;
  display: block;
  height: auto;
}

p {
  padding: 0;
  margin: 0;
}

.header {
  width: auto;
  height: 230px;
  background-color: black;
}

.header__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.header__container-icon {
  padding-top: 41px;
}

.header__icon-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  text-transform: uppercase;
}

.header__icon {
  height: 24px;
  width: 24px;
  margin-right: 10px;
}

.header__name {
  width: 141px;
  height: 35px;
  left: 105px;
  top: 41px;
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 30px;
  line-height: 35px;
  color: #ffffff;
}

.header__navigation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  padding-right: 70px;
}

.header__navigation :last-child {
  margin-right: 0px;
}

.header__navigation-list {
  margin-right: 39px;
  padding-top: 60px;
  width: 35px;
  height: 14px;
  left: 810px;
  top: 58px;
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 14px;
  white-space: nowrap;
  color: #ffffff;
}

.header__input-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 41px;
}

.input__line {
  width: 350px;
  height: 0px;
  left: 344px;
  top: 133px;
  border: 0.5px solid #ffffff;
}

.header-input {
  width: 336px;
  height: 20px;
  left: 344px;
  top: 113px;
  border: none;
  background: rgba(0, 0, 0, 0.56);
}

.header__icon-input {
  width: 13px;
  height: 12px;
}

input::-webkit-input-placeholder {
  color: #ffffff;
}

input:-ms-input-placeholder {
  color: #ffffff;
}

input::-ms-input-placeholder {
  color: #ffffff;
}

input::placeholder {
  color: #ffffff;
}

input,
textarea {
  outline: none;
  border: none;
  border: solid 1px #f2f2f2;
}

.footer {
  padding: 30px 0;
  background-color: #f7f7f7;
}

.footer.is-fixed {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
}

.footer_wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 0 auto;
}

.footer_text {
  font-size: 16px;
  font-weight: 400;
  line-height: 1.17188;
  color: #545454;
}

.footer_icon-heart {
  fill: #ff6b08;
  margin: 0 10px;
}

.footer_link {
  color: #545454;
  text-decoration: underline;
}

@media screen and (max-width: 767px) {
  .footer_text {
    font-size: 14px;
    font-weight: 400;
    line-height: 1.17214;
  }
  .footer_text:not(:last-child) {
    margin-bottom: 10px;
  }
}

@media screen and (min-width: 768px) {
  .footer_text:not(:last-child) {
    margin-right: 3px;
  }
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  opacity: 1;
  visibility: visible;
}

.backdrop.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

.footer-modal {
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%) scale(1);
          transform: translate(-50%, -50%) scale(1);
  width: 300px;
  height: 520px;
  padding: 20px;
  background-color: #ffff;
  -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
}

.backdrop.is-hidden .modal {
  -webkit-transform: translate(-50%, -50%) scale(1.1);
          transform: translate(-50%, -50%) scale(1.1);
}

.modal-text {
  text-align: center;
  font-weight: 500;
  font-size: 20px;
  line-height: 1.15;
  margin-bottom: 15px;
}

.team-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 0;
  margin: 0;
}

.team-list-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: auto;
  margin-bottom: auto;
  margin-bottom: 6px;
}

.team-member-img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  margin-right: 20px;
}

.footer-flex-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  margin-right: auto;
}

.team-member-name {
  display: inline-block;
  margin-right: 15px;
  color: #ff6b08;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.33;
}

.team-member-social-link,
.modal-close-button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 25px;
  height: 25px;
  border-radius: 50%;
}

.team-member-social-link {
  margin-right: 10px;
  -webkit-transform: translate(0, 9%);
          transform: translate(0, 9%);
}

.modal-close-button {
  position: absolute;
  top: 10px;
  right: 10px;
  background-color: transparent;
  border: none;
  cursor: pointer;
}

.modal-close-button:hover .modal-close-icon,
.modal-close-button:focus .modal-close-icon {
  fill: #ff6b08;
}

.team-member-social-link:hover,
.team-member-social-link:focus {
  background-color: #ff6b08;
}

.team-member-social-link:hover .team-member-social-icon,
.team-member-social-link:focus .team-member-social-icon {
  fill: #ffff;
}

.team-member-social-icon {
  fill: #818181;
  width: 15px;
  height: 15px;
}

.team-member-duties {
  font-weight: 500;
  font-size: 12px;
  line-height: 1.33;
  color: #8c8c8c;
}

@media screen and (min-width: 1024px) {
  .footer-modal {
    width: 500px;
    height: 620px;
    padding-left: 50px;
  }
  .modal-text {
    font-size: 24px;
    margin-bottom: 20px;
  }
  .team-member-img {
    width: 55px;
    height: 55px;
  }
  .team-list-item {
    margin-bottom: 10px;
  }
}

.page-header__library {
  min-height: 230px;
  max-width: 320px;
  margin-left: auto;
  margin-right: auto;
  padding-top: 45px;
  padding-bottom: 65px;
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.56)), to(rgba(0, 0, 0, 0.56))), url(../images/header-library/header-lib-mobile.jpg);
  background-image: linear-gradient(rgba(0, 0, 0, 0.56), rgba(0, 0, 0, 0.56)), url(../images/header-library/header-lib-mobile.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

@media screen and (min-device-pixel-ratio: 2), screen and (-webkit-min-device-pixel-ratio: 2), screen and (min-resolution: 192dpi), screen and (min-resolution: 2dppx) {
  .page-header__library {
    background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.56)), to(rgba(0, 0, 0, 0.56))), url(../images/header-library/header-lib-mobile@2x.jpg);
    background-image: linear-gradient(rgba(0, 0, 0, 0.56), rgba(0, 0, 0, 0.56)), url(../images/header-library/header-lib-mobile@2x.jpg);
  }
}

@media screen and (min-width: 768px) and (max-width: 1023px) {
  .page-header__library {
    min-height: 230px;
    max-width: 768px;
    background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.56)), to(rgba(0, 0, 0, 0.56))), url(../images/header-library/header-lib-tablet.jpg);
    background-image: linear-gradient(rgba(0, 0, 0, 0.56), rgba(0, 0, 0, 0.56)), url(../images/header-library/header-lib-tablet.jpg);
  }
}

@media screen and (min-width: 768px) and (max-width: 1023px) and (min-device-pixel-ratio: 2), screen and (min-width: 768px) and (max-width: 1023px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 768px) and (max-width: 1023px) and (min-resolution: 192dpi), screen and (min-width: 768px) and (max-width: 1023px) and (min-resolution: 2dppx) {
  .page-header__library {
    background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.56)), to(rgba(0, 0, 0, 0.56))), url(../images/header-library/header-lib-tablet@2x.jpg);
    background-image: linear-gradient(rgba(0, 0, 0, 0.56), rgba(0, 0, 0, 0.56)), url(../images/header-library/header-lib-tablet@2x.jpg);
  }
}

@media screen and (min-width: 1024px) {
  .page-header__library {
    min-height: 230px;
    max-width: 1024px;
    background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.56)), to(rgba(0, 0, 0, 0.56))), url(../images/header-library/header-lib-desktop.jpg);
    background-image: linear-gradient(rgba(0, 0, 0, 0.56), rgba(0, 0, 0, 0.56)), url(../images/header-library/header-lib-desktop.jpg);
  }
}

@media screen and (min-width: 1024px) and (min-device-pixel-ratio: 2), screen and (min-width: 1024px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 1024px) and (min-resolution: 192dpi), screen and (min-width: 1024px) and (min-resolution: 2dppx) {
  .page-header__library {
    background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.56)), to(rgba(0, 0, 0, 0.56))), url(../images/header-library/header-lib-desktop@2x.jpg);
    background-image: linear-gradient(rgba(0, 0, 0, 0.56), rgba(0, 0, 0, 0.56)), url(../images/header-library/header-lib-desktop@2x.jpg);
  }
}

.logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.logo:hover .logo__text, .logo:focus .logo__text {
  color: #ff6b08;
}

.logo__text {
  display: none;
  font-family: inherit;
  font-weight: 500;
  font-size: 30px;
  line-height: 1.167;
  color: #ffff;
}

@media screen and (min-width: 768px) {
  .logo__text {
    display: inline-block;
    margin-left: 10px;
  }
}

.page-header__navigation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.site-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.site-nav__item:not(:last-child) {
  margin-right: 40px;
}

.site-nav__link {
  padding-bottom: 3px;
  position: relative;
  display: block;
  color: #ffff;
  font-weight: 500;
  font-size: 12px;
  line-height: 1.167;
  text-transform: uppercase;
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.site-nav__link:hover, .site-nav__link:focus {
  color: #ff6b08;
}

.site-nav__link--current::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  display: block;
  width: 100%;
  height: 3px;
  background-color: #ff6b08;
}

.header__buttons {
  margin-top: 46px;
  text-align: center;
}

.header__button {
  display: inline-block;
  border-radius: 5px;
  min-width: 130px;
  padding: 14px 36px 12px 36px;
  border: #ffff solid 1px;
  color: #ffff;
  background-color: transparent;
  font-family: inherit;
  font-weight: 500;
  font-size: 12px;
  line-height: 1.33;
  text-align: center;
  text-transform: uppercase;
  -webkit-filter: drop-shadow(0px 8px 43px rgba(255, 107, 1, 0.6));
          filter: drop-shadow(0px 8px 43px rgba(255, 107, 1, 0.6));
  -webkit-transition: -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.header__button:not(:last-child) {
  margin-right: 20px;
}

@media screen and (min-width: 768px) {
  .header__button:not(:last-child) {
    margin-right: 15px;
  }
}

.header__button:hover, .header__button:focus {
  cursor: pointer;
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
}

.button--current {
  background-color: #ff6b08;
}

/*Скрытые загаловки*/
.visually-hidden {
  position: absolute !important;
  clip: rect(1px 1px 1px 1px);
  /* IE6, IE7 */
  clip: rect(1px, 1px, 1px, 1px);
  padding: 0 !important;
  border: 0 !important;
  height: 1px !important;
  width: 1px !important;
  overflow: hidden;
}
/*# sourceMappingURL=main.css.map */