<div class="slider">
    <div class="slider-item">
        <img src="" alt="" class="slider-img">
        <p class="slider-name"></p>
        <p class="slider-about"></p>
        <a href="https://github.com/DOROSHYK" target="blank" class="team-member-social-link">
            <svg class="team-member-social-icon">
                <use href="./images/sprite.svg#icon-github"></use>
            </svg>
        </a>
        <a href="https://github.com/DOROSHYK" target="blank" class="team-member-social-link">
            <svg class="team-member-social-icon">
                <use href="./images/sprite.svg#icon-linkedin"></use>
            </svg>
        </a>
        <p class="slider-duties"></p>
    </div>
</div>