<button type="button" class="modal-close-button" data-modal-close>
    <svg class="modal-close-icon">
        <use href="./images/sprite.svg#icon-close-icon"></use>
    </svg>
</button>
<p class="modal-text">Project team</p>
<div class="slider">
    <div class="slider-item">
        <img src="" alt="" class="slider-img">
        <p class="slider-name"></p>
        <p class="slider-about"></p>
        <a href="https://github.com/DOROSHYK" target="blank" class="team-member-social-link">
            <svg class="team-member-social-icon">
                <use href="./images/sprite.svg#icon-github"></use>
            </svg>
        </a>
        <a href="https://github.com/DOROSHYK" target="blank" class="team-member-social-link">
            <svg class="team-member-social-icon">
                <use href="./images/sprite.svg#icon-linkedin"></use>
            </svg>
        </a>
        <p class="slider-duties"></p>
        <button class="modal-type-selector is-active" type="button">
            <svg class="modal-type-icon">
                <use href="./images/sprite.svg#icon-list-type"></use>
            </svg>
        </button>
        <button class="modal-type-selector" type="button">
            <svg class="modal-type-icon">
                <use href="./images/sprite.svg#icon-desc-type"></use>
            </svg>
        </button>
    </div>
</div>