<ol class='team-list'>
  <li class='team-list-item'>
    <img src='./images/team members/olgaD.jpg' alt='Olga' class='team-member-img' />
    <div class='footer-flex-wrapper'>
      <p class='team-member-name'>Doroshuk Olga</p>
      <p class='team-member-duties'>Team lead</p>
    </div>
    <a href='https://github.com/DOROSHYK' target='blank' class='team-member-social-link'>
      <svg class='team-member-social-icon'>
        <use href='./images/sprite.svg#icon-github'></use>
      </svg>
    </a>
    <a href='https://github.com/DOROSHYK' target='blank' class='team-member-social-link'>
      <svg class='team-member-social-icon'>
        <use href='./images/sprite.svg#icon-linkedin'></use>
      </svg>
    </a>
  </li>
  <li class='team-list-item'>
    <img src='./images/team members/roman.jpg' alt='Roman' class='team-member-img' />
    <div class='footer-flex-wrapper'>
      <p class='team-member-name'>Boiko Roman</p>
      <p class='team-member-duties'>Team list</p>
    </div>
    <a href='https://github.com/MrHouser' target='blank' class='team-member-social-link'>
      <svg class='team-member-social-icon'>
        <use href='./images/sprite.svg#icon-github'></use>
      </svg>
    </a>
    <a
      href='https://www.linkedin.com/in/boikoroman/'
      target='blank'
      class='team-member-social-link'
    >
      <svg class='team-member-social-icon'>
        <use href='./images/sprite.svg#icon-linkedin'></use>
      </svg>
    </a>
  </li>
  <li class='team-list-item'>
    <img src='./images/team members/tonia.jpg' alt='Antonina' class='team-member-img' />
    <div class='footer-flex-wrapper'>
      <p class='team-member-name'>Molotkova Antonina</p>
      <p class='team-member-duties'>TBD</p>
    </div>
    <a href='https://github.com/toniamolotkova' target='blank' class='team-member-social-link'>
      <svg class='team-member-social-icon'>
        <use href='./images/sprite.svg#icon-github'></use>
      </svg>
    </a>
    <a href='' target='blank' class='team-member-social-link'>
      <svg class='team-member-social-icon'>
        <use href='./images/sprite.svg#icon-linkedin'></use>
      </svg>
    </a>
  </li>
  <li class='team-list-item'>
    <img src='./images/team members/leshaK.jpg' alt='Alexey' class='team-member-img' />
    <div class='footer-flex-wrapper'>
      <p class='team-member-name'>Kostiuchenko Alexey</p>
      <p class='team-member-duties'>TBD</p>
    </div>
    <a href='https://github.com/kostuk42' target='blank' class='team-member-social-link'>
      <svg class='team-member-social-icon'>
        <use href='./images/sprite.svg#icon-github'></use>
      </svg>
    </a>
    <a href='' target='blank' class='team-member-social-link'>
      <svg class='team-member-social-icon'>
        <use href='./images/sprite.svg#icon-linkedin'></use>
      </svg>
    </a>
  </li>
  <li class='team-list-item'>
    <img src='./images/team members/olgaP.jpg' alt='Olga' class='team-member-img' />
    <div class='footer-flex-wrapper'>
      <p class='team-member-name'>Ponomarenko Olga</p>
      <p class='team-member-duties'>TBD</p>
    </div>
    <a href='https://github.com/Olcapone' target='blank' class='team-member-social-link'>
      <svg class='team-member-social-icon'>
        <use href='./images/sprite.svg#icon-github'></use>
      </svg>
    </a>
    <a
      href='https://www.linkedin.com/in/olga-ponomarenko-609284218/'
      target='blank'
      class='team-member-social-link'
    >
      <svg class='team-member-social-icon'>
        <use href='./images/sprite.svg#icon-linkedin'></use>
      </svg>
    </a>
  </li>
  <li class='team-list-item'>
    <img src='./images/team members/alexander.jpg' alt='Alexander' class='team-member-img' />
    <div class='footer-flex-wrapper'>
      <p class='team-member-name'>Lutcyk Alexander</p>
      <p class='team-member-duties'>TBD</p>
    </div>
    <a href='https://github.com/AlexLutsyk' target='blank' class='team-member-social-link'>
      <svg class='team-member-social-icon'>
        <use href='./images/sprite.svg#icon-github'></use>
      </svg>
    </a>
    <a href='' target='blank' class='team-member-social-link'>
      <svg class='team-member-social-icon'>
        <use href='./images/sprite.svg#icon-linkedin'></use>
      </svg>
    </a>
  </li>
  <li class='team-list-item'>
    <img src='./images/team members/victoria.jpg' alt='' class='team-member-img' />
    <div class='footer-flex-wrapper'>
      <p class='team-member-name'>Shcherbanych Victoriya</p>
      <p class='team-member-duties'>TBD</p>
    </div>
    <a href='https://github.com/Victoriyadyaral' target='blank' class='team-member-social-link'>
      <svg class='team-member-social-icon'>
        <use href='./images/sprite.svg#icon-github'></use>
      </svg>
    </a>
    <a
      href='https://www.linkedin.com/in/victoriya-shcherbanych-dyaral/'
      target='blank'
      class='team-member-social-link'
    >
      <svg class='team-member-social-icon'>
        <use href='./images/sprite.svg#icon-linkedin'></use>
      </svg>
    </a>
  </li>
  <li class='team-list-item'>
    <img src='./images/team members/leshaZ.jpg' alt='' class='team-member-img' />
    <div class='footer-flex-wrapper'>
      <p class='team-member-name'>Zaitsev Alexey</p>
      <p class='team-member-duties'>TBD</p>
    </div>
    <a href='https://github.com/Oleksii83' target='blank' class='team-member-social-link'>
      <svg class='team-member-social-icon'>
        <use href='./images/sprite.svg#icon-github'></use>
      </svg>
    </a>
    <a
      href='https://www.linkedin.com/in/%D0%B0%D0%BB%D0%B5%D0%BA%D1%81%D0%B5%D0%B9-%D0%B7%D0%B0%D0%B9%D1%86%D0%B5%D0%B2-b04825210'
      target='blank'
      class='team-member-social-link'
    >
      <svg class='team-member-social-icon'>
        <use href='./images/sprite.svg#icon-linkedin'></use>
      </svg>
    </a>
  </li>
</ol>