<div class="backdrop">
    <div class="footer-modal">
        <!-- <button type="button" class="modal-close-button" data-modal-close>
            <svg class="modal-close-icon">
                <use href="./images/sprite.svg#icon-close"></use>
            </svg>
        </button> -->
        <p class="modal-text">Project team</p>
        <ol class="team-list">
            <li class="team-list-item">
                <img src="./images/team members/olgaD.jpg" alt="" class="team-member-img">
                <div class="footer-flex-wrapper">
                    <p class="team-member-name">Doroshuk Olga</p>
                    <a href="https://github.com/DOROSHYK" target="blank" class="team-member-link">
                        <svg class="team-member-social-link">
                            <use href=""></use>
                        </svg>
                    </a>
                    <a href="https://github.com/DOROSHYK" target="blank" class="team-member-link">
                        <svg class="team-member-social-link">
                            <use href=""></use>
                        </svg>
                    </a>
                    <p class="team-member-duties">Team lead</p>
                </div>
            </li>
            <li class="team-list-item">
                <img src="./images/team members/roman.jpg" alt="" class="team-member-img">
                <div class="footer-flex-wrapper">
                    <p class="team-member-name">Boiko Roman</p>
                    <a href="https://github.com/DOROSHYK" target="blank" class="team-member-link">
                        <svg class="team-member-social-link">
                            <use href=""></use>
                        </svg>
                    </a>
                    <a href="https://github.com/DOROSHYK" target="blank" class="team-member-link">
                        <svg class="team-member-social-link">
                            <use href=""></use>
                        </svg>
                    </a>
                    <p class="team-member-duties">Team list</p>
                </div>
            </li>
            <li class="team-list-item">
                <img src="./images/team members/roman.jpg" alt="" class="team-member-img">
                <div class="footer-flex-wrapper">
                    <p class="team-member-name">Doroshuk Olga</p>
                    <a href="https://github.com/DOROSHYK" target="blank" class="team-member-link">
                        <svg class="team-member-social-link">
                            <use href=""></use>
                        </svg>
                    </a>
                    <a href="https://github.com/DOROSHYK" target="blank" class="team-member-link">
                        <svg class="team-member-social-link">
                            <use href=""></use>
                        </svg>
                    </a>
                    <p class="team-member-duties">Team lead</p>
                </div>
            </li>
            <li class="team-list-item">
                <img src="./images/team members/roman.jpg" alt="" class="team-member-img">
                <div class="footer-flex-wrapper">
                    <p class="team-member-name">Doroshuk Olga</p>
                    <a href="https://github.com/DOROSHYK" target="blank" class="team-member-link">
                        <svg class="team-member-social-link">
                            <use href=""></use>
                        </svg>
                    </a>
                    <a href="https://github.com/DOROSHYK" target="blank" class="team-member-link">
                        <svg class="team-member-social-link">
                            <use href=""></use>
                        </svg>
                    </a>
                    <p class="team-member-duties">Team lead</p>
                </div>
            </li>
            <li class="team-list-item">
                <img src="./images/team members/roman.jpg" alt="" class="team-member-img">
                <div class="footer-flex-wrapper">
                    <p class="team-member-name">Doroshuk Olga</p>
                    <a href="https://github.com/DOROSHYK" target="blank" class="team-member-link">
                        <svg class="team-member-social-link">
                            <use href=""></use>
                        </svg>
                    </a>
                    <a href="https://github.com/DOROSHYK" target="blank" class="team-member-link">
                        <svg class="team-member-social-link">
                            <use href=""></use>
                        </svg>
                    </a>
                    <p class="team-member-duties">Team lead</p>
                </div>
            </li>
            <li class="team-list-item">
                <img src="./images/team members/roman.jpg" alt="" class="team-member-img">
                <div class="footer-flex-wrapper">
                    <p class="team-member-name">Doroshuk Olga</p>
                    <a href="https://github.com/DOROSHYK" target="blank" class="team-member-link">
                        <svg class="team-member-social-link">
                            <use href=""></use>
                        </svg>
                    </a>
                    <a href="https://github.com/DOROSHYK" target="blank" class="team-member-link">
                        <svg class="team-member-social-link">
                            <use href=""></use>
                        </svg>
                    </a>
                    <p class="team-member-duties">Team lead</p>
                </div>
            </li>
            <li class="team-list-item">
                <img src="./images/team members/roman.jpg" alt="" class="team-member-img">
                <div class="footer-flex-wrapper">
                    <p class="team-member-name">Doroshuk Olga</p>
                    <a href="https://github.com/DOROSHYK" target="blank" class="team-member-link">
                        <svg class="team-member-social-link">
                            <use href=""></use>
                        </svg>
                    </a>
                    <a href="https://github.com/DOROSHYK" target="blank" class="team-member-link">
                        <svg class="team-member-social-link">
                            <use href=""></use>
                        </svg>
                    </a>
                    <p class="team-member-duties">Team lead</p>
                </div>
            </li>
            <li class="team-list-item">
                <img src="./images/team members/roman.jpg" alt="" class="team-member-img">
                <div class="footer-flex-wrapper">
                    <p class="team-member-name">Doroshuk Olga</p>
                    <a href="https://github.com/DOROSHYK" target="blank" class="team-member-link">
                        <svg class="team-member-social-link">
                            <use href=""></use>
                        </svg>
                    </a>
                    <a href="https://github.com/DOROSHYK" target="blank" class="team-member-link">
                        <svg class="team-member-social-link">
                            <use href=""></use>
                        </svg>
                    </a>
                    <p class="team-member-duties">Team lead</p>
                </div>
            </li>
        </ol>
    </div>
</div>