<!-- <div class="backdrop is-hidden">
    <div class="footer-modal">
        <button type="button" class="modal-close-button" data-modal-close>
            <svg class="modal-close-icon">
                <use href="./images/sprite.svg#icon-close-icon"></use>
            </svg>
        </button>
        <p class="modal-text">Project team</p>
        <ol class="team-list">
            <li class="team-list-item">
                <img src="./images/team members/olgaD.jpg" alt="" class="team-member-img">
                <div class="footer-flex-wrapper">
                    <p class="team-member-name">Doroshuk Olga</p>
                    <p class="team-member-duties">Team lead</p>
                </div>
                <a href="https://github.com/DOROSHYK" target="blank" class="team-member-social-link">
                    <svg class="team-member-social-icon">
                        <use href="./images/sprite.svg#icon-github"></use>
                    </svg>
                </a>
                <a href="https://github.com/DOROSHYK" target="blank" class="team-member-social-link">
                    <svg class="team-member-social-icon">
                        <use href="./images/sprite.svg#icon-linkedin"></use>
                    </svg>
                </a>
            </li>
            <li class="team-list-item">
                <img src="./images/team members/roman.jpg" alt="" class="team-member-img">
                <div class="footer-flex-wrapper">
                    <p class="team-member-name">Boiko Roman</p>
                    <p class="team-member-duties">Team list</p>
                </div>
                <a href="https://github.com/MrHouser" target="blank" class="team-member-social-link">
                    <svg class="team-member-social-icon">
                        <use href="./images/sprite.svg#icon-github"></use>
                    </svg>
                </a>
                <a href="" target="blank" class="team-member-social-link">
                    <svg class="team-member-social-icon">
                        <use href="./images/sprite.svg#icon-linkedin"></use>
                    </svg>
                </a>
            </li>
            <li class="team-list-item">
                <img src="./images/team members/tonia.jpg" alt="" class="team-member-img">
                <div class="footer-flex-wrapper">
                    <p class="team-member-name">Molotkova Antonina</p>
                    <p class="team-member-duties">TBD</p>
                </div>
                <a href="https://github.com/toniamolotkova" target="blank" class="team-member-social-link">
                    <svg class="team-member-social-icon">
                        <use href="./images/sprite.svg#icon-github"></use>
                    </svg>
                </a>
                <a href="" target="blank" class="team-member-social-link">
                    <svg class="team-member-social-icon">
                        <use href="./images/sprite.svg#icon-linkedin"></use>
                    </svg>
                </a>
            </li>
            <li class="team-list-item">
                <img src="./images/team members/leshaK.jpg" alt="" class="team-member-img">
                <div class="footer-flex-wrapper">
                    <p class="team-member-name">Kostiuchenko Alexey</p>
                    <p class="team-member-duties">TBD</p>
                </div>
                <a href="https://github.com/kostuk42" target="blank" class="team-member-social-link">
                    <svg class="team-member-social-icon">
                        <use href="./images/sprite.svg#icon-github"></use>
                    </svg>
                </a>
                <a href="" target="blank" class="team-member-social-link">
                    <svg class="team-member-social-icon">
                        <use href="./images/sprite.svg#icon-linkedin"></use>
                    </svg>
                </a>
            </li>
            <li class="team-list-item">
                <img src="./images/team members/olgaP.jpg" alt="" class="team-member-img">
                <div class="footer-flex-wrapper">
                    <p class="team-member-name">Ponomarenko Olga</p>
                    <p class="team-member-duties">TBD</p>
                </div>
                <a href="https://github.com/Olcapone" target="blank" class="team-member-social-link">
                    <svg class="team-member-social-icon">
                        <use href="./images/sprite.svg#icon-github"></use>
                    </svg>
                </a>
                <a href="https://www.linkedin.com/in/olga-ponomarenko-609284218/" target="blank" class="team-member-social-link">
                    <svg class="team-member-social-icon">
                        <use href="./images/sprite.svg#icon-linkedin"></use>
                    </svg>
                </a>
            </li>
            <li class="team-list-item">
                <img src="./images/team members/alexander.jpg" alt="" class="team-member-img">
                <div class="footer-flex-wrapper">
                    <p class="team-member-name">Lutcyk Alexander</p>
                    <p class="team-member-duties">TBD</p>
                </div>
                <a href="https://github.com/AlexLutsyk" target="blank" class="team-member-social-link">
                    <svg class="team-member-social-icon">
                        <use href="./images/sprite.svg#icon-github"></use>
                    </svg>
                </a>
                <a href="" target="blank" class="team-member-social-link">
                    <svg class="team-member-social-icon">
                        <use href="./images/sprite.svg#icon-linkedin"></use>
                    </svg>
                </a>
            </li>
            <li class="team-list-item">
                <img src="./images/team members/roman.jpg" alt="" class="team-member-img">
                <div class="footer-flex-wrapper">
                    <p class="team-member-name">Doroshuk Olga</p>
                    <p class="team-member-duties">TBD</p>
                </div>
                <a href="https://github.com/DOROSHYK" target="blank" class="team-member-social-link">
                    <svg class="team-member-social-icon">
                        <use href="./images/sprite.svg#icon-github"></use>
                    </svg>
                </a>
                <a href="https://github.com/DOROSHYK" target="blank" class="team-member-social-link">
                    <svg class="team-member-social-icon">
                        <use href="./images/sprite.svg#icon-linkedin"></use>
                    </svg>
                </a>
            </li>
            <li class="team-list-item">
                <img src="./images/team members/roman.jpg" alt="" class="team-member-img">
                <div class="footer-flex-wrapper">
                    <p class="team-member-name">Doroshuk Olga</p>
                    <p class="team-member-duties">TBD</p>
                </div>
                <a href="https://github.com/DOROSHYK" target="blank" class="team-member-social-link">
                    <svg class="team-member-social-icon">
                        <use href="./images/sprite.svg#icon-github"></use>
                    </svg>
                </a>
                <a href="https://github.com/DOROSHYK" target="blank" class="team-member-social-link">
                    <svg class="team-member-social-icon">
                        <use href="./images/sprite.svg#icon-linkedin"></use>
                    </svg>
                </a>
            </li>
        </ol>
    </div>
</div> -->