<header class="header">
  <div class="header-container">
    <div class="header-container__icon">
      <ul class="header-icon__list">
        <li>
          <svg class="header-icon">
            <use href="./images/sprite.svg#icon-film"></use>
          </svg>
        </li>
        <li class="header-name">FILMOTEKA</li>
      </ul>
    </div>
    <div class="header-nav__container">
      <ul class="header-navigation">
        <li class="header-navigation__list">
          <a class="header-nav__home" href="/index.html">HOME</a>
        </li>
        <li class="header-navigation__list">
          <a class="header-nav__library" href="">MY LIBRARY</a>
        </li>
      </ul>
    </div>
  </div>
  <div class="header-input__container">
    <form class="header-input__form">
      <input type="text" name="data-search" id class="header-input" placeholder="Поиск фильмов" />
      <svg class="header-icon__input">
        <use href="./images/sprite.svg#icon-search-2"></use>
      </svg>
    </form>
    <div class="input-line"></div>
    <div id="add-spiner"></div>
  </div>
</header>
