<section class="header">
  <div class="header__container container">
    <div class="header__container-icon">
      <ul class="header__icon-list">
        <li>
          <svg class="header__icon">
            <use href="./images/sprite.svg#icon-film"></use>
          </svg>
        </li>
        <li class="header__name">FILMOTEKA</li>
      </ul>
    </div>
    <div>
      <ul class="header__navigation">
        <li class="header__navigation-list">HOME</li>
        <li class="header__navigation-list">MY LIBRARY</li>
      </ul>
    </div>
  </div>
  <div class="header__input-container">
    <form class="header__input-form">
      <input type="text" name="data-search" id class="header-input" placeholder="Поиск фильмов" />
      <svg class="header__icon-input">
        <use href="./images/sprite.svg#icon-search-2"></use>
      </svg>
    </form>
    <div class="input__line"></div>
  </div>
</section>
