<div class="backdrop is-hidden js-movie-backdrop" data-modal>
    <div class="movie-modal">
        <button type="button" class="modal-close-button close-movie-modal-js" data-modal-close>
            <svg class="modal-close-icon js-close-movie-modal-icon">
                <use href="./images/sprite.svg#icon-close-icon"></use>
            </svg>
        </button>
        <div class="movie-info"></div>
        <ul class="add-buttons-list">
            <li class="add-buttons-item">
                <button id="add-watched" class="add-to-watched watched add-button uppercase">Add to watched</button>
            </li>
            <li class="add-buttons-item">
                <button id="add-queue" class="add-button add-to-queue queue uppercase">Add to queue</button>
            </li>
            
            
        </ul>
    </div>
</div>