<div class="backdrop is-hidden js-movie-backdrop" data-modal>
    <div class="movie-modal">
        <button type="button" class="modal-close-button" data-modal-close>
            <svg class="modal-close-icon">
                <use href="./images/sprite.svg#icon-close-icon"></use>
            </svg>
        </button>
        <div class="movie-info"></div>
        <ul class="add-buttons-list">
            <li class="add-buttons-item">
                <button id="add-watched" class="add-button uppercase">add to Watched</button>
            </li>
            <li class="add-buttons-item">
                <button id="add-queue" class="add-button uppercase">add to queue</button>
            </li>
        </ul>
    </div>
</div>