<section class="theme-switch">
    <div class="container">
        <div class="toolbar">
    <!-- Разметка переключателя темы -->
            <div class="theme-switch__control">
                <svg class="theme-switch__icon_hiden">
                    <use href="./images/symbol-defs.svg#icon-free-icon-film-strip-with-two-photograms-25311"></use>
                </svg>

                <input class="theme-switch__toggle" type="checkbox" name="theme" id="theme-switch-toggle"
                    aria-label="Переключить между тёмной и светлой темой" />
                <label aria-hidden="true" class="theme-switch__track" for="theme-switch-toggle">
                </label>
            </div>
        </div>
    </div>
</section>